* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open-sans";
  border: none;
  align-content: center;
}

.container-Father {
  background-image: linear-gradient(to bottom right, black, yellow);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-elements--text {
  color: rgb(245, 245, 245);
  background: rgb(32, 35, 41);
  z-index: -1;
  opacity: 0.6;
}

.container-elements__position {
  text-align: center;
  font-weight: 100;
  font-stretch: expanded;
  font-size: 4vh;
}

.container-elements--image {
  width: 100%;
}

.imageCharacters {
  width: 100%;
  height: 100%;
  margin-bottom: -4.8vh;
}

/*------Character's Info section*/

.container-info--character {
  background-color: black;
}

.gender-container {
  display: flex;
  flex-direction: row;
}

.gender-text {
}

.status-container {
  display: flex;
  flex-direction: row;
}

.status-text {
}

.species-container {
  display: flex;
  flex-direction: row;
}

.species-text {
}

.origin-container {
  display: flex;
  flex-direction: row;
}

.origin-text {
}

.location-container {
  display: flex;
  flex-direction: row;
}

.location-text {
}

.type-container {
  display: flex;
  flex-direction: row;
}

.type-text {
}

/*Tablet Responsive section*/

@media (max-width: 768px) {
}

/*Desktop Responsive section*/

@media (min-width: 769px) {
}
